@font-face {
    font-family: 'NotoNaskhArabic';
    src: url('/invoice_report_custom/static/src/fonts/NotoNaskhArabic-Regular.ttf') format('truetype');
}

.ar-font{
    font-family:'NotoNaskhArabic' !important;
}